<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Exclusive"
        gamePrice="R$ 499.90"
        gameType="PS4 | PS5"
     ></app-card>
     <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Digital"
        gamePrice="$199.99"
        gameType="PS4 | PS5 | PS3"
    ></app-card>
     <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Digital"
        gamePrice="$199.99"
        gameType="PS4 | PS5 | PS3"
    ></app-card>
</div>